@import url(https://fonts.googleapis.com/css?family=Roboto:500);

html,
body {
  height: 100%;
  background-color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000 url(../img/bio_photo.jpg) no-repeat center center;
  background-size: cover;
  filter: brightness(0);
  transition: filter 1.5s;
}

.hero-btn {
  border: 2px solid white;
  padding: 25px;
  letter-spacing: 0.75em;
  color: white;
  z-index: 999;
  margin: 25px;
  line-height: 1.5;
  transition: all 2s;
}

.hero-btn:hover + div {
  filter: brightness(100%);
}

.hero-btn:hover {
  background-color: rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.3);
  padding: 5em;
}

.str {
  transition: 1s 1s
}

.hero-btn:hover .str {
  color: red
}
